.news {
    display: flex;
}

.article {
    flex: 1;
    padding: 4rem;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    &__btn {
        flex: 0;
    }

    &__title {
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 2rem;
    }

    &__text {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    &__1 {
        background-color: var(--color-primary-dark);
    }

    &__2 {
        background-color: var(--color-primary);
    }

    &__3 {
        background-color: var(--color-primary-light);
    }
}

#article__btn {
    padding: .5rem;
    font-size: 1.6rem;
}